.motivx-navlist {
    &:extend(.list-inline);
    li {
        padding-right: 5%;
    }
}

@inactive-opacity: 0.5;
@active-opacity: 1;

.motivx-navbar {
    
    padding-bottom: 15px;
    border-bottom: @wizard-background-color 1px solid;
    margin-bottom: 15px;
    
    
  
    .navbar-items {
        margin-top: 49px;
        float: left;
    }
    
    .navbar-items-layout {
        padding-left: 3.5%;
    }
    
    .menu-item {
        font-family: 'Open Sans';
        font-weight: 100;
        font-size: 1.0em;                            
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        
        &:active {
            opacity: @active-opacity;
            color: @active-underline-color;
        }
        
        &:hover {
            opacity: @active-opacity;
            color: @active-underline-color
        }
    }
    
    
    .navbar-account-dropdown {
        &:extend(.menu-item);
        padding: 5px;
        margin-left: 45px;
        font-size: 16px;
        width: 200px;
    }
    
    menu-icon {
        font-size: 54px;
    }
    
    .menu-item-collapsed {
        &:extend(.menu-item);
        padding:10px;
        margin-left: 25px;
        margin-right: 25px;
        font-size: 16px;
        width: 250px;
    }
    
    .menu-drop-down {
        &:extend(.dropdown-menu);
        margin-top:0;
    }
    
    .btn-menu {
        &:extend(.btn-default);
        border: none;
    }
    
    .menu-caret {
        &:extend(.caret);
        border-top: 8px solid #000;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
    }
}

@media screen and(max-width: 1320px) {
    .motivx-navbar .navbar-items-layout {
        padding-left: 5px;
    }
    
    .motivx-navbar .navbar-items-layout li {
        padding-right: 2.5%;
    }
}

@media screen and(max-width: 840px) {
    .motivx-navbar .navbar-items-layout {
        padding-left: 5px;
    }
    
    .motivx-navbar .navbar-items-layout li {
        padding-right: 1.5%;
    }
}

@media screen and (max-width: 767px) {
    .motivx-navbar .navbar-items-layout {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .navbar-profile-info {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar-bootstrap-min {
        display: none;
    }
}

.navbar-caret {
    &:extend(.caret);
    border-top: 8px solid #000;
    border-left: transparent 8px solid;
    border-right: transparent 8px solid;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .navbar-caret {
        border-top: 3px solid #000;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
    }
}

.navbar-title {

    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 1.0em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    display:inline;

    padding: 0.6em;
    padding-top: 19px;
    padding-bottom: 19px;
    height: 55px;
    margin-top: 40px;

    /*@include transition(ease 0.6s box-shadow);
    p.title, img.panel-list-item-icon {
        @include transition(ease 0.6s all);
    }*/

    @inactive-opacity: 0.5;
    @active-opacity: 1;

    p.title {
        margin: 2px 0 0 0;
        opacity: @inactive-opacity;
    }

    img.panel-list-item-icon {
        opacity: @inactive-opacity;
        margin-top: 0px;
        margin-bottom: 5px;
        width: 22px;
    }

    &.active {
        span.title, img.panel-list-item-icon {
            opacity: @active-opacity;
            color: @active-underline-color;
        }
    }

    &:hover {
        span.title, img.panel-list-item-icon {
            opacity: @active-opacity;
            color: @active-underline-color
        }
    }

}