<div class='motivx-navbar row' ng-controller="HeaderCtrl as header">
    <div class='col-lg-2 hidden-sm hidden-md hidden-xs'></div>
    <div class='col-lg-1 col-md-1 col-sm-1 hidden-xs'>
        <img src="assets/images/logo-motivx_beta.svg" width="65" height="65" alt="motivxlogo" ng-click='header.navbarItems[0].action' class="wzrd-header-logo-left"/>
    </div>
    <div class='hidden-lg hidden-md hidden-sm col-xs-2'>
        <img src="assets/images/logo-motivx_beta.svg" width="40" height="40" alt="motivxlogo" ng-click='header.navbarItems[0].action' class="wzrd-header-logo-left"/>
    </div>
    <div class='col-lg-5 col-md-9 col-sm-8 col-xs-7 navbar-items'>
        <ul class='navbar-items-layout motivx-navlist'>
            <li ng-repeat='navbarItem in header.navbarItems'>
                <span class='menu-item' ng-click="navbarItem.action">{{navbarItem.title}}</span>
            </li>
        </ul>
    </div>
    <div class='col-lg-2 col-md-2 col-sm-3 col-xs-3 navbar-profile-info'>
        <table class='pull-right'>
            <tr style="height:24px;">
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <span class='pull-right'>John</span>
                    <br/>
                    <span class='motivx-blue pull-right'>
                       2000
                        <img src="assets/images/icons/icon-xcoins_blue.svg" 
                             alt="Xcoins" 
                             class="xcoins-blue pull-right"/>
                    </span>
                </td>
                <td >
                    <div data-toggle="dropdown"
                         id="motivxDropDownNavbarMenu"
                         aria-expanded="true"
                         class="dropdown-toggle"
                         style="cursor:pointer;">
                        
                        <img ng-src="{{user.imageUrl}}" 
                         alt="profile - image"  
                         width="40" 
                         height="40" 
                         class="wzrd-profile-img">
                    
                        <span class="navbar-caret"></span>
                    </div>
                    
                    <ul class="dropdown-menu" 
                        style="margin-top:0;" 
                        role="menu" aria-labelledby="motivxDropDownNavbarMenu">
                        <li class='navbar-account-dropdown' 
                            ng-repeat='accountNavItem in header.accountNavItems' 
                            ng-click="accountNavItem.action">{{accountNavItem.title}}
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class='col-xs-3 navbar-bootstrap-min pull-right'>
        <div class="btn-group pull-right" >
            <button type="button" class="btn btn-menu dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-align-justify" style='font-size:24px;'></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style='margin-top:0;'>
                <li class='menu-item-collapsed' 
                    ng-repeat='navbarItem in header.navbarItems' 
                    ng-click="navbarItem.action">
                    {{navbarItem.title}}
                </li>
                <li class="divider"></li>
                <li class='menu-item-collapsed' 
                    ng-repeat='accountNavItem in header.accountNavItems'
                    ng-click="accountNavItem.action">
                    {{accountNavItem.title}}
                </li>
            </ul>
        </div>
    </div>
    <div class='col-lg-2 hidden-sm hidden-md hidden-xs'></div>
</div>