<header-auth></header-auth>

<div class="auth-container">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5">

			<h3>Sign in using</h3>

			<auth-social-buttons></auth-social-buttons>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-7">

			<h3>Trouble signing in?</h3>


			<form class="form-horizontal mx-form" novalidate name="forgetForm" ng-submit="forgetPass.forgetPass()">

                <div class="form-group" ng-if="forgetPass.forgetSuccess">
                    <div class="alert alert-success">Your password reset request has been received and is processing.. </div>
                </div>

				<div class="form-group">
                	<label for="sendemail">Your email address</label>

                    <input class="form-control" 
                    	type="text" 
                    	id="sendemail"
                    	placeholder="username@example.com"
                    	ng-model="forgetPass.email" 
                    	name="forgotemailaddress" 
                    	autocomplete="off"
                    	required>

                    <span class="text-muted">
                        We will send you an email with instructions on how to reset your password.
                    </span>

                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary mx-btn mx-btn-primary btn-login" type="submit">Send email</button>
                    <a class="btn btn-default mx-btn" ui-sref="auth.login">Cancel</a>

                    <span class="error has-error" ng-if="forgetPass.forgetError">
                        The email is not registered.
                    </span>
                </div>


			</form>

		</div>
	</div>
</div>