input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.mx-form {

	.form-group {
		margin-bottom: 13px;

		label {
			color: @label-color;
			font-weight: 600;
		}

		input[type="checkbox"] {
			width: 16px;
			height: 16px;
			margin-right: 5px;
			position: relative;
			bottom: 4px;
			vertical-align: middle;
		}
	}


	.form-control {
		width: 100%;
		background: #fff;
		border: 2px solid #ddd;
		color: #666;
		padding: 5px 10px;
		border-radius: 0;
		width: 100%;
		font-size: 1.1em;
		box-shadow: none;

		&:focus,
		&:active,
		&:hover {
			box-shadow: none;
			border-color: #ccc;
			color: #333;
		}

		&.error {
			border-color: red;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 32, 47, 0.6);
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 32, 47, 0.6);
		}
	}

	.mx-error {
		margin-top: 20px;
	}


	.form-control:focus.error{
		border-color: red;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 32, 47, 0.6);
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 32, 47, 0.6);
	}

	.mx-btn {
		border-radius: 0;
		padding: 7px 25px;
	}

	.mx-btn-primary {
		background: @button-background-color;
		border: none;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 400;

		&:hover {
			background-color: #2880A0; 
		}

		&:focus,
		&:active,
		&.active {
			color: #ffffff;
			background-color: @button-background-color;
		}

		&[disabled],
		&.disabled {
			background-color: #B4E4EF;
		}
	}

	.mx-btn-danger {
		text-transform: uppercase;

		&:hover {
			background-color: #C62F2B;
		}

		&[disabled],
		&.disabled {
			background-color:  #E78F8D;
		}
	}

	.redeem-button {
		padding: 4px 8px;
	}

	.mx-btn-dropdown {
		border: none;
		padding: 0;
	}

}