<header-auth></header-auth>

<div class="auth-container">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5">

		</div>
		<div class="col-xs-12 col-sm-12 col-md-7">

			<h3>Reset my password</h3>


			<form class="form-horizontal mx-form" novalidate name="resetForm" ng-submit="resetPass.resetPass()">

                <div class="form-group" ng-if="resetPass.resetError">
                    <div class="alert alert-danger">Reset password failed. Try resending the email as it might be to old.</div>
                </div>

				<div class="form-group">
                	<div class="col-sm-6">
                        <label for="newPassword">New password</label>
                        <input class="form-control" 
                            id="newPassword" 
                            name="newPassword" 
                            placeholder="Password" 
                            type="password" 
                            ng-model="resetPass.user.newPassword" 
                            ng-minlength="6" required 
                            ng-class="{'error': resetForm.newPassword.$invalid && resetForm.newPassword.$dirty}">
                    </div>
                    <div class="col-sm-6">
                        <label for="confirmPassword">Repeat password</label>
                        <input class="form-control" 
                            name="confirmPassword" 
                            placeholder="Repeat password" 
                            type="password" 
                            ng-model="resetPass.user.confirmPassword" 
                            match="resetPass.user.newPassword" required 
                            ng-class="{'error': resetForm.confirmPassword.$invalid && resetForm.confirmPassword.$dirty}">
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-lg btn-primary mx-btn mx-btn-primary btn-login" type="submit" ng-disabled="resetForm.$invalid">Reset</button>
                    </div>
                </div>


			</form>

		</div>
	</div>
</div>