<ul class="social-login-container">

	<li class="social-login-btn" ng-repeat="provider in auth.loginProviders | orderBy:'name'">

		<a ng-href="{{provider.url}}">
			<img ng-src="assets/images/icon-{{provider.name.toLowerCase()}}.svg" alt=""/>
			<span>{{provider.name}}</span>
		</a>

	</li>

</ul>