.social-login-container {
    color: #333;
    list-style: none;
    padding: 0;
    a {
        height: 30px;
        min-width: 150px;
        color: inherit;
        display: inline-block;
        padding-right: 15px;
        text-decoration: none;

        &:hover {
            background: rgba(0,0,0,.05);
            color: #111;
        }
    }

    .social-login-btn {
        height: inherit;
        color: #333;
        display: block;
        font-size: 1.1em;
        font-weight: bolder;
        margin-bottom: 20px;
        vertical-align: middle;

        img {
            width: inherit;
            display: inline-block;
            margin-right: 10px;
        }

        span {
            display: inline-block;
        }
    }
}