@icon-font-path: "/assets/fonts/";

//@background-color: #1a1d24;
@background-color: whitesmoke;
@font-family-sans-serif: "Open Sans", sans-serif;
@font-size-base: 13px ;
@font-size-large: @font-size-base * 1.25;
@headings-font-weight: lighter;
@text-color: #555;
@headings-color: #222;
@headings-inverted-color: #ccc;
@label-color: #878787;
@wizard-background-color: #f2f2f2;
@motivx-blue: #0BABCB;
@motivx-red:red;

@motivx-logo: "/assets/images/Logo-MotivX.svg";

@font-size-larger: @font-size-base + 1;
// 14px
@font-size-small: @font-size-base * 0.85 ;
// 12px
@font-size-mini: @font-size-base * 0.75 ;
// 11px
@font-size-index: @font-size-base * 0.7 ;
//10px
@line-height-base: 20px ;
@line-height-computed: @line-height-base ;
// ~20px
@font-weight-base: 300;

@iconSpritePath: "../assets/images/glyphicons-halflings.png" ;
@iconWhiteSpritePath: "../assets/images/glyphicons-halflings-white.png" ;

@sidebar-width: 100px;
@right-panel-width: 230px;
@sticky-footer-height: 170px;
@topbar-background: white;
//@topbar-background-opaque: rgba(141, 255, 238, 0);
@topbar-background-opaque: white;
@active-underline-color: #00a8e5;
@top-bar-background-color: lighten(@topbar-background, 5%);

@button-background-color: #0BABCB;

@inactive-underline-color: rgba(196, 196, 196, 0.16);
@logo-height: 60px;

@border-radius: 2px;
@box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.5);

@sidebar-responsive-toggle-radius: 100px;

@list-item-background-color: lighten(@topbar-background, 7%);
@list-item-text-color: black;

@tour-background-color: rgba(0, 0, 0, 0.79);

@container-margin:200px;

@graphbarColor: whitesmoke;


html {
  overflow-y: scroll;
  height: 100%;
}

body {
  background: #fff;
  background-size: cover;
  color: @text-color;
  font-weight: lighter;
  font-family: @font-family-sans-serif;
  height: 100%;
  min-height: 100%;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  line-height: 1.1;
  color: rgb(34, 34, 34);
}

.section-header-font {
  font-size: 21px;
}

.inverted-color {
  color: @headings-inverted-color;
}

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
