<header-auth></header-auth>

<div class="auth-container">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5">

			<h3>Sign in using</h3>

			<auth-social-buttons></auth-social-buttons>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-7">

			<h3>Sign in using e-mail</h3>


			<form  class="form-horizontal mx-form" novalidate name="loginForm" ng-submit="login.login()">

				<div class="form-group">
					<input type="text" 
						name="username" 
						ng-model="login.username" 
						class="form-control" 
						placeholder="username@example.com" 
						required 
						autocomplete="off">
				</div>

				<div class="form-group">
					<input type="password" 
						name="password" 
						ng-model="login.password"
						class="form-control" 
						placeholder="password" 
						required 
						autocomplete="off">
				</div>

				<div class="form-group">
					<label>
						<input type="checkbox" 
							ng-model="login.remember"
							name="remember" > 
						Remember my password
					</label>
				</div>

				<div class="form-group">

					<button class="btn btn-lg btn-primary mx-btn mx-btn-primary btn-login" type="submit">
						Sign in
					</button>

					<a  ui-sref="auth.forgetpass" class="helplink">
						Having trouble signing in?
					</a>

				</div>


				<div class="form-group" ng-show="login.submitted">
					<p class="text-danger login-error">

						<span ng-show="login.loginError">
							The username and password you entered do not match. Please try again.
						</span>
						<span ng-show="loginForm.username.$error.required || loginForm.password.$error.required">
							Username and password is required.
						</span>

					</p>
				</div>
				

				<div class="form-group">
					<a ui-sref="auth.signup" >
						Don’t have an account yet? Create one.
					</a>
				</div>

			</form>

		</div>
	</div>
</div>