<header-auth></header-auth>

<div class="auth-container">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5">

			<h3>Sign up with</h3>

			<auth-social-buttons></auth-social-buttons>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-7">

			<h3>Sign up with email</h3>


			<form class="form-horizontal mx-form" novalidate name="signupForm" ng-submit="signup.signup()">

				<div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstname">First name</label>
                        <input type="text" 
                            id="firstname"
                            name="firstName" 
                            ng-model="signup.user.firstName"
                            placeholder="First Name" 
                            class="form-control" 
                            ng-class="{'error': signupForm.firstName.$invalid && signupForm.firstName.$dirty}"
                            required>

                    </div>
                    <div class="col-sm-6">
                        <label for="lastname">Last name</label>
                        <input type="text" 
                            id="lastname"
                            name="lastName"
                            ng-model="signup.user.lastName"
                            class="form-control"  
                            placeholder="Last Name"  
                            ng-class="{'error': signupForm.lastName.$invalid && signupForm.lastName.$dirty}"
                            required>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="email">Email address</label>
                        <input type="email" 
                            id="email"
                            name="email" 
                            ng-model="signup.user.email" 
                            placeholder="Email Address" 
                            class="form-control" 
                            ng-class="{'error': signupForm.email.$invalid && signupForm.email.$dirty}"
                            ng-pattern="/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" 
                            required>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="password">Password</label>

                        <input type="password" id="password"
                            name="password" 
                            ng-model="signup.user.password" 
                            placeholder="Password" 
                            class="form-control" 
                            ng-class="{'error': signupForm.password.$invalid && signupForm.password.$dirty}"
                            ng-minlength="6" 
                            required >

                    </div>
                    <div class="col-sm-6">
                        <label for="confirmPassword">Repeat password</label>

                        <input type="password" id="confirmPassword"
                            name="confirmPassword" 
                            ng-model="signup.user.confirmPassword" 
                            placeholder="Repeat password" 
                            class="form-control" 
                            ng-class="{'error': signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty}"
                            match="signup.user.password" 
                            required >

                    </div>
                </div>

               
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="checkbox" id="newsletter" 
                            class="input" 
                            ng-model="signup.user.newsletter">

                        <label for="newsletter">
                            Send me MotivX updates and tips
                        </label>
                    </div>
                </div>


                <div class="row form-row" ng-if="signup.registerError">
                    <div class="col-md-12">
                        <p class="text-danger register-error">
                            <span ng-show="signup.registerError"><strong>Something is wrong.</strong><br/>{{signup.errormsg}}</span>
                        </p>
                    </div>
                </div>


                <div class="alert alert-info">
                    All fields above are required.
                </div>

                <div class="form-group">
                    <div class="col-sm-6">

                        <button type="submit"
                            class="btn btn-lg btn-primary mx-btn mx-btn-primary btn-center btn-login"
                            ng-disabled="signupForm.$invalid">
                            Sign up
                        </button>

                        <p>
                            <small class="text-muted">
                                By signing up you agree to MotivX term and conditions.
                            </small>
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <a ui-sref="auth.login">Already got an account? Sign in</a>
                    </div>
                </div>

			</form>

		</div>
	</div>
</div>