<div class="auth-wrapper">

	<img class="logo" src="assets/images/logo-motivx_beta.svg" alt="">

	<div ui-view></div>

	<div class="auth-footer">
	    <p class="copyright">MotivX 2015 © All rights reserved</p>
	    <ul>
	        <li><a href="#">Privacy Policy</a></li>
	        <li><a href="#">Support</a></li>
	    </ul>
	</div>
	
</div>