.auth-wrapper {
	min-height: 100%;
	height: auto;
	background: #f2f2f2;
	padding: 30px 0;
	padding-left: 5%;
	padding-right: 5%;

	.logo {
		width: 56px;
		display: block;
		margin: 0 auto;
	}


	.auth-container{
		min-height: 450px;
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.15);
		margin: 30px auto 0;
		padding: 0 45px;
		padding-top: 30px;
		display: block;

		h3 {
			font-size: 26px;
			margin-bottom:40px;
		}

		.btn-login {
			margin-right: 20px;
		}
	}

	.auth-footer {
		color: #666;
		font-size: .9em;
		text-align: center;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				padding: 0 10px;
			}
		}
	}
}